<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codechef - TeamSpeak</title>
    <link href="images/fav_icon.png" rel="shortcut icon">

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <!--<link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--<link href="css/custom_css.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />-->
    <link href="css/chat_style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway|Roboto" rel="stylesheet">
    <!--@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway|Roboto');-->


    <style>
        body {
            max-width: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        .align-fix {
          top: -10px;
        }
    </style>

</head>
<body>
    <!--<ul id="slide-out" class="sidenav">
        <li><a class="waves-effect" href="https://www.codechef.com"><i class="material-icons">home</i>Codechef.com</a></li>
        <li><a class="waves-effect" href="../logout"><i class="material-icons">filter_vintage</i>Logout</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="waves-effect" href="https://www.codechef.com/aboutus"><i class="material-icons">book</i>About us</a></li>
        <li><a class="waves-effect" href="https://www.codechef.com/codeofconduct"><i class="material-icons">call</i>Code of Conduct</a></li>
    </ul>
    <nav class="transparent navbar-fixed-top" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="http://149.129.137.246" class="brand-logo"><img src="images/brand_icon.png" style="height: 135px; width:350px;" /></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://www.codechef.com">Codechef - Home</a></li>
                <li><a href="../logout">Logout</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
-->
