<div class="footpad purple lighten-1 margin-fix">
  <div class="col-md-12 col-sm-12 text-center">
    <p style="color: white;">&copy; TeamSpeak 2018 &middot; Made with <i class="fa fa-heart fa-pad" style="color: red" aria-hidden="true"></i>&comma; <i class="fa fa-coffee fa-pad" style="color: brown" aria-hidden="true"></i> and <i class="fa fa-code fa-pad" style="color: black" aria-hidden="true"></i> &middot; View source <a href="https://github.com/Biswajee/TeamSpeak"> here</a></p>
  </div>
</div>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/init.js"></script>
</body>
</html>
