<footer class="row purple pad-down lighten-1 margin-fix">
    <div class="pad">
        <div class="col l5 s10">
            <h5 class="white-text text-center">Company Bio</h5>
            <p class="grey-text text-lighten-4 text-center">
                CodeChef was created as a platform to help programmers make it big in the world of algorithms, computer programming and programming contests. At CodeChef we work hard to revive the geek in you by hosting a programming contest at the start of the month and another smaller programming challenge in the middle of the month. We also aim to have training sessions and discussions related to algorithms, binary search, technicalities like array size and the likes. Apart from providing a platform for programming competitions, CodeChef also has various algorithm tutorials and forum discussions to help those who are new to the world of computer programming.
            </p>


        </div>
        <div class="col l3 s12">
            <h5 class="white-text text-center">Connect</h5>
            <ul class="text-center">
                <li>
                    <a class="white-text" href="/">Home</a>
                </li>
                <li><a class="white-text" href="../about">About Us</a></li>
                <li><a class="white-text" href="../login">Get Started Now</a></li>
            </ul>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/init.js"></script>
</body>
</html>
