<% include partials/header %>
<div class="row pad-extra">
  <div class="col-md-6 col-sm-6 text-center">
    <button class="btn btn-warning" action="index.ejs" name="create" title="We will generate your unique team ID">
      Create a team
    </button>
  </div>
  <div class="col-md-6 col-sm-6 text-center">
    <button class="btn btn-success" action="index.ejs" name="join" title="Join an existing chat team">
      Join your team
    </button>
  </div>
<% include partials/chat_footer %>
