<% include partials/header %>
    <div class="row parallax-window pad pad-down" style="margin-bottom: 0px; margin-right: 0px; margin-left: 0px;" data-parallax="scroll" data-image-src="images/1123.jpeg">
        <div class="col-md-12 col-sm-12 text-center">
            <h1 class="head-banner-text light-green-text text-accent-3 small-pad">Codechef TeamSpeak | Collaborative efforts to contests made easy.</h1>
            <h5 class="col s12 light banner-text text-white">Teamspeak for codechef is a platform to share ideas and connect with team members <br /> to put up team efforts in a contest / hackathon. Now, teams can share ideas, talk to team members and share links on the fly.<br /> Just login with your codechef account to get started.
            </h5>
        </div>
        <div class="col-md-12 col-sm-12 text-center padmini">
            <a href="/oauth2" id="download-button" class="btn-large waves-effect waves-light amber darken-3">Login with Codechef</a>
        </div>
        <br><br>
    </div>
<% include partials/footer %>
