<% include partials/header %>
<div class="container pad-extra text-center">
  <div class="card">
  <h1 class="head-banner-text blue-text text-accent-3 small-pad">
    Thank you for using this platform...head to <a href="https://149.129.138.211">Login again !</a>
  </h1>
  <h1 class="head-banner-text blue-text text-accent-3">
    View another porblem @ <a href="https://www.codechef.com">Codechef</a>
  </h1>
  </div>
</div>
<% include partials/footer %>
