<% include partials/header %>
<div class="container pad-extra text-center">
  <div class="card" style="background: honeydew;">
  <h1 class="head-banner-text blue-text text-accent-3 small-pad">
    Thank you for using this platform !<br>
    Head to <a href="http://149.129.137.246">Login</a>.
    <br><br>
    View another problem @ <a href="https://www.codechef.com">Codechef</a>
  </h1>
  </div>
</div>
<div class="container text-center"><img src="images/thankyou.png" style="height: 99px;" /></div>
<% include partials/footer %>
