<% include partials/header %>
<div class="container pad-extra text-center">
  <h1 class="head-banner-text blue-text text-accent-3 small-pad">
    Thank you for installing...head to <a href="https://149.129.138.211">Login </a>
  </h1>
</div>
<% include partials/footer %>
